@{
    ViewBag.Title = "Output";
}
<html lang="en">
<body>
    <style>
        section {
            margin-bottom: 40px;
        }
    </style>
    <style>
        section2 {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    </style>



    <section>
        <section>
            <h1>Inputs</h1>
        </section>
        <div class="row">
            <div class="col-sm-4">
                <section>
                    <div class="form-group">
                        <label for="sel1">Time:</label>
                        <select class="form-control" id="sel1">
                            <option>Time 1</option>
                            <option>Time 2</option>
                            <option>Time 3</option>
                            <option>Time 4</option>
                            <option>Time 5</option>
                            <option>Time 6</option>
                            <option>Time 7</option>
                            <option>Time 8</option>
                        </select>
                    </div>
                </section>
                <section>
                    <label for="sel2">Filter 1:</label>
                    <div class="container" id="sel2">
                        <button type="button" class="btn btn-default">Filter A</button>
                        <button type="button" class="btn btn-default">Filter B</button>
                        <button type="button" class="btn btn-default">Filter C</button>
                    </div>
                </section>

                <section>
                    <label for="sel3">Filter 2:</label>
                    <div class="container" id="sel3">
                        <button type="button" class="btn btn-default">Filter X</button>
                        <button type="button" class="btn btn-default">Filter Y</button>
                        <button type="button" class="btn btn-default">Filter Z</button>
                    </div>
                </section>
            </div>

            <section>
                <div class="col-sm-4">
                    <section>
                        <label for="sel4">Classes :</label>
                        <div class="container" id="sel4">
                            <p>
                                <button type="button" class="btn btn-default">Class 1</button>
                                <button type="button" class="btn btn-default">Class 2</button>
                            </p><p>
                                <button type="button" class="btn btn-default">Class 3</button>
                                <button type="button" class="btn btn-default">Class 4</button>
                            </p>
                        </div>
                    </section>
                </div>
            </section>


            <section>
                <div class="col-sm-4">
                    <section>
                        <label for="sel5">Results :</label>
                        <div class="container" id="sel5">
                            <p><a href="#option1">Option 1</a></p>
                            <p><a href="#option2">Option 2</a></p>
                            <p><a href="#option3">Option 3</a></p>
                            <p><a href="#option4">Option 4</a>
                            </p>
                        </div>
                    </section>
                </div>
            </section>
        </div>





        <div class="row">
            <hr>
            <section>
                <section>
                    <h1>Outputs</h1>
                </section>
                <div class="col-sm-6">
                    <h4><label for="sel6">Option 1:</label></h4><a id="option1"></a>
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Sub-Class 1</a></li>
                <li><a href="#">Sub-Class 2</a></li>
                <li><a href="#">Sub-Class 3</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <p> Feature 2</p>
            <p>Feature 4</p>
        </div>
    </div>
</div>


                <div class="col-sm-6">
                    <h4><label for="sel7">Option 2:</label></h4><a id="option2"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#">Sub-Class 1</a></li>
                                <li><a href="#">Sub-Class 2</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p> Feature 1</p>
                            <p> Feature 2</p>
                            <p> Feature 3</p>
                        </div>
                    </div>
                </div>
            </section>
    </div>


        <div class="row">
            <section>
                <div class="col-sm-6">
                    <h4><label for="sel8">Option 3:</label></h4><a id="option3"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#">Sub-Class 1</a></li>
                                <li><a href="#">Sub-Class 2</a></li>
                                <li><a href="#">Sub-Class 3</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p> Feature 2</p>
                            <p>Feature 4</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <h4><label for="sel9">Option 4:</label></h4><a id="option4"></a>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#">Sub-Class 1</a></li>
                                <li><a href="#">Sub-Class 2</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <p> Feature 1</p>
                            <p> Feature 2</p>
                            <p> Feature 3</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section>
</body>
</html>
  
